.case-study {
  display: flex;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: "AktivGrotesk-Medium", sans-serif;
}

.case-study-left-column {
  width: 200px;
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  overflow-y: auto;
}

.case-study-right-column {
  flex-grow: 1;
  padding-left: 280px;
  padding-right: 2rem;
  overflow-y: auto;
  height: 100%;
  gap: 2rem;
  scroll-behavior: smooth;
}

.back-link {
  display: block;
  font-size: 0.875rem;
  font-weight: 800;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #000;
}

.case-study h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.case-study-brief {
  margin-bottom: 2rem;
  padding-bottom: 40%;
}

.case-study-brief p {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.case-study-description {
  font-size: 3rem;
  max-width: 90%;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.case-study-credits {
  margin-top: 2rem;
  align-items: end;
  justify-content: end;
}

.case-study-credits h3 {
  font-size: 0.875rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.case-study-credits ul {
  list-style-type: none;
  padding: 0;
}

.case-study-credits li {
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.case-study-video,
.case-study-image {
  width: 90%;
  height: auto;
  margin-bottom: 2rem;
  border-radius: 10px;
  overflow: hidden;
}

.case-study-content {
  margin-top: 4rem;
}

.case-study-section {
  margin-bottom: 4rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.case-study-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.case-study-section h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

.case-study-section p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  max-width: 70ch;
  color: #333;
}

.case-study-section-image,
.case-study-section-video {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin: 2rem 0;
  border-radius: 10px;
  overflow: hidden;
}

.case-study-content h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.case-study-media {
  max-width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .case-study {
    flex-direction: column;
  }

  .case-study-left-column {
    position: static;
    width: 100%;
    padding: 1rem;
  }

  .case-study-right-column {
    padding-left: 1rem;
  }

  .case-study-section p {
    font-size: 1.2rem;
  }
}