@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "AktivGrotesk-Medium", sans-serif;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  
  
}

.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  box-sizing: border-box;
  
}

.body-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Prevent scrolling on the main container */
  margin-right: 0rem;
  padding-right: 0rem;
}

/* Left column styles */
.left-column {
  align-items: start;
  border-right: 0px solid #e0e0e0;
  padding-left: 1rem;
  padding-top: 0rem;
  padding-right: 0rem;
  position: fixed; /* Fix the navigation */
  top: 0rem; /* Align with the top padding of .App */
  left: 0rem; /* Align with the left padding of .App */
  bottom: 0rem; /* Align with the bottom padding of .App */
  overflow-y: auto; /* Allow scrolling if content is too long */
}

.navigation h2 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.navigation ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.navigation li {
  margin-bottom: 0.5rem;
}

.navigation a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.navigation a:hover {
  text-decoration:line-through;
}

/* Right column styles */
.right-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto; /* Make the right column scrollable */
  height: 100%; /* Full height of the container */
  padding-left: 220px; /* Add space for the fixed navigation */
  margin-right: 0rem;
}

/* Header styles */
.header-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-social-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.intro-container {
  align-items: start;
  margin-right: 2rem;
  padding-top: 1rem;
  flex: 2;
}

.Intro h1 {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.Intro p {

  font-size: 1rem;
  font-variant: normal;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 1rem;
  max-width: 80ch;
  color: #000000;
}

.social-links-container {
  flex: 1;
}

.social-links {
  padding-top: 0rem;
  padding-right: 1rem;
}

.social-links h2 {
  padding-top: 0rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.social-links ul {
  list-style-type: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 0rem;
  text-align: right;
}

.social-links a {
  color: #000000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.social-links a:hover {
  text-decoration: line-through;
}

.chinese-characters {
  font-family: "Long Cang", cursive;
  font-size: 21rem;
  font-weight: 300;
  /* line-height: 1.4; */
  margin: 2rem 0;
  color: #000000;
}

/* Remove or comment out the following styles */
/*
.project-showcase {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.project-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
*/

/* Responsive layout */
@media (min-width: 768px) {
  .body-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .chinese-characters {
    font-family: "Long Cang", cursive;
    width: 100%;
    font-size: 14rem;
    font-weight: 500;
    line-height: 1.4;

  }

  .left-column {
    width: 200px;
    flex-shrink: 0;
    flex-direction: column;
  }

  .navigation {
    flex-direction: column;
  }

  .right-column {
    padding-left: 220px; /* Adjust based on the width of the left column */
  }

  .info-social-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

/* New styles for smaller screens */
@media (max-width: 767px) {
  .body-container {
    flex-direction: column;
  }
  .chinese-characters {
    font-family: "Long Cang", cursive;
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;

  }
  .left-column {
    position: static;
    width: auto;
    border-right: none;
    padding: 1rem;
    
  }

  .navigation h2 {
    justify-content: start;
    margin-top: 0rem;
  }


  .navigation ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }

  .navigation li {
    margin-bottom: 0;
  }

  .Intro p {
    font-size: 1rem;
    line-height: 1.4;
  }

  .right-column {
    padding-left: 1rem;
    margin-right:1rem;
  }

  .info-social-container {
    flex-direction: column;
  }

  .social-links {
    padding-right: 0;
  }

  .social-links h2,
  .social-links li {
    text-align: left;
  }
}

/* Animation styles */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

/* Footer styles */
.footer {
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: right;
}

.footer p {
  font-size: 0.875rem;
  color: #666;
}